<div class="contact-bg">

  <p>
    Sign up for early access.
  </p>

  <form nz-form (ngSubmit)="sendEmail($event)" class="login-form" [nzLayout]="'vertical'">
      <!-- <nz-form-item> -->
        <!-- <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label> -->
        <!-- <nz-form-control [nzSpan]="12">
          <input class="ant-input" nz-input name="user_name" placeholder="Eva Williams" />
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item>
        <!-- <nz-form-label [nzSpan]="7" nzRequired>Email</nz-form-label> -->
        <nz-form-control [nzSpan]="12">
          <input class="ant-input" nz-input name="user_email" placeholder="eva@xanadu.com" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="12">
          <button nz-button nzType="primary" class="form-button">Keep me posted!</button>
        </nz-form-control>
      </nz-form-item>
    </form>
</div>